body {
    font-family: sans-serif,"Hiragino 角 Gothic ProN";

}

li {
    list-style: none;

}

.header-logo {
    width : 120px;
    margin : 0;

}

img {
    max-width: 100%;    
}


.header {
    display: flex;
    justify-content: space-between;

}

.header-list {


}

.header-list li {
    float : left;
    padding-right : 30px;
    padding-top: 10px;
    
    
}

a {
    color: #24292e;
    text-decoration: none;
    

}

ul {
    margin :0;
}

.main-visual {
    margin-bottom: 80px;

}

.main-visual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
    
}

.contents {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;

}

.contents-title {
    font-size: 1rem;
    margin: 10px 0;

}


.section-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 2px #383e45;

} 
.contents-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
    
}

.contents-2 {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;

}

.contents-2 ul {
    display: flex;
    

}

.contents-2 li {
    margin-right: 30px;

}

.footer-logo {
    font-size: 0.5rem;
    text-align: center;
}






